Flask==1.0.2
google-api-core==1.16.0
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
google-cloud-vision==0.41.0
googleapis-common-protos==1.51.0
ipython==4.1.2
rapidfuzz==0.3.0
grpcio-tools==1.27.2
grpcio==1.27.2